---
title: Haron Takeover!
layout: layouts/base.njk
---


<h2 id="get-yours">Haron Poc</h2>

<p>
  Oh hi! Admiring this site that {% if details.name %}{{ details.name }}{% else %}I{% endif %} deployed? Well, you can get one too.
</p>
<p>
  To deploy your own copy of this site, and enter the prize draw at {{ details.event }}, just click the button below, follow the instructions, and then tweet the link.
</p>
<p>
  <a href="https://www.mohamedharon.com">
    <img src="https://www.netlify.com/img/deploy/button.svg" alt="visit my site">
  </a>
</p>
<h2>Deploy and then what?</h2>
<p>
  Try out a few more of the things that you can do with this once you've deployed to Netlify.
</p>

